* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: rgb(247, 221, 252);
}

.container {
    width: 60%;
    height: 100%;
    background-color: rgb(209, 243, 232);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, rgb(93, 93, 182), rgb(167, 144, 211));
    padding: 20px;
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-weight: bold;
    font-size: 35px;
}

.header img {
    height: 150px;
}

.content {
    flex-grow: 1;
    margin: 5%;
    width: 100%;
}

.input-area {
    display: flex;
    width: 100%;
    align-items: center;
}

.proced {
    width: 50%;
}

.diagram {
    width: 100%;
   
}

.procedure {
    background-color: rgb(219, 228, 240);
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;

}

.procedure ol {
    list-style: none;
    margin: 10px;
}

.main-diagram {
    height: auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

.main-diagram img {
    border-radius: 10px;
    border: 1px solid black;
    width: auto;
    height: auto;
}

#VL {
    
    position: relative;
    top: -25vh;
    left: 29vw;
    width: 60px;
    height: 20px;
    text-align: center;
    
}

#VP {
    position: relative;
    top: -25vh;
    left: 37.5vw;
    width: 60px;
    height: 20px;
    text-align: center;
}

#V {
    position: relative;
    top: -23vh;
    left: 8.3vw;
    width: 60px;
    height: 15px;
    text-align: center;
}
#A{
  position: relative;
  top: -16vh;
  left: 21.5vw;
  width: 60px;
  height: 20px;
  text-align: center;
}

.cal-btn {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

#addTable{
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  
}
#simulate{
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
#Cr{
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}

.footer {
    text-align: center;
    font-weight: bold;
    height: 5%;
    background-color: rgb(206, 247, 233);
}

.table-area {
    margin: 20px;
    justify-content: center;
    
}

table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: 20px;
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    white-space: nowrap;
    text-align: center;
  }
  table * {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  table thead tr {
    color: #2d3748;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    
  }
  table thead tr th {
    background: #edf2f7;
    padding: 0.75rem 1.5rem;
    vertical-align: middle;
  }
  table tbody tr:nth-child(odd) td {
    background: #ffffff;
  }
  table tbody tr:nth-child(even) td {
    background: #edf2f7;
  }

     
 